body {
    font-family: $poppins;
    position:relative;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
border-radius: 2rem;
}

.darkMode{
    background: #B4B4B8;
    color: white;

    .card{
        background: #C7C8CC;
    }

    main{
        button{
            background:#C7C8CC;
        }
    }
}