.events-container {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 100%;
}

.card {
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    gap:4px;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 15px;
    box-sizing: border-box;
    overflow: auto;
    height : 30vh;
    width : 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    .edit-button {
        display: flex;
        justify-self: flex-end;
        &:hover {
            transform: scale(108%);
            transition: ease 0.5s;
            cursor:pointer;
        }
    }
}

.expend {
    display: flex;
    gap: 5px;
    align-items: center;
    img {
        height:15px;
        width: 15px;
        padding-right: 5px;
    }
}

.attendance-table {
    flex-direction: row;
    gap: 15px;
    transition: ease 1s;
    & > * {
        flex:1;
    }
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

.attendees-list {
    font-weight: bold;
}

.attendees {
    display:flex;
    flex-direction: column;
}

.toggle-attendance {
    display: flex;
    justify-self: flex-end;
    img {
        height: 17px;
        width: 17px;
        padding-right: 5px;
    }
}