
header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background: #EEEEEE ;
    padding-bottom: 20px;

section{
    gap: 10px;
    display: flex;
    
    flex-direction: row;

    .logo{
        padding: 10px;
        width: 50px;
        height: 40px;
        margin-left: 30px;
        
    }
    h1{
        margin-top: 20px;
        font-size: 20px;
    }
}
.toggleDarkMode{
    border: none;
    background: none;
    margin-right: 10px;


    img{
        width: 20x;
        height: 20px;
    }
}
}

