

        .addEvent{
            background-color: #e4e3e5;
            border-radius: 2rem;
            border: none;
            padding: 3px 10px;
            background: none;
            cursor: pointer;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            margin-top: 25px;
            margin-left: 30px;


            &:hover{
                background-color: #a4a3aa;
                transition: 1.2s;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            }
        }

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        button{
            border-radius: 15px;
        }
        &#addEvent_modal{
            display: none;// faut laisser!!! si tu veux changer le display vas dans add_event_modal.js
            position: absolute;
            flex-direction: column;
            justify-content: center;
            z-index: 2;
            align-items: center;
            background-color: #242424;
            border-radius: 15px;
            box-shadow: 8px 12px 35px 29px rgba(0,0,0,0.48);
            color: white;
            min-width:40vw;
            width: fit-content;
            height:fit-content;
        }
        &#modifyEvent{
            display: none;// faut laisser!!! si tu veux changer le display vas dans add_event_modal.js
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #242424;
            border-radius: 15px;
            box-shadow: 8px 12px 35px 29px rgba(0,0,0,0.48);
            color: white;
            width: fit-content;
            height: fit-content;
            min-width: 40vw;
            min-height: 40vh;
            padding: 1vh 1vw;
            z-index: 2;
        }
    }
}
.fond-modal{
    display: none;
}
.pinkdisign{
    input{
        background-color: #ee3a85;
        outline-color: white;
        border: none;
        border-radius: 15px;
    }
    button{
        background-color: #ee3a85 ;
        background-color: none;
        border-radius: 15px ;
        margin: 1vh;
        transition: 0.3s ease;
    }
    button:hover{
        transform: scale(1.4);
        outline: blueviolet;
    }
    textarea{
        margin: 1vh 1vw;
        min-height: 10vh ;
        min-width: 20vw ;
        border-radius: 15px;
        background-color: #ee3a85;
        outline-color:white ;
    }
}