#addEvent_modal, #modifyEvent {
    display: none;
    z-index:2;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.5 );
    position: absolute;
    z-index:2;
    height: 100%;
    width: 100%;
    top: 0;
    box-sizing:border-box;
}

.name-input {
    margin-bottom: 20px;
}

.delete-modal {
    display:flex;
}

.delete-modal, #modifyEvent, #addEvent_modal {
    max-width: 90%;
    align-self: center;
    justify-self:center;
    border-radius: 15px;
    border: 2px solid black;
    padding: .2em;
    min-height: 20vh;
    background-color: white;
    height: fit-content;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    display:flex;
    width: 100%;
    justify-content: flex-end;
    img {
        width: 35px;
        height: 35px;
        &:hover {
            transform: scale(110%);
            cursor:pointer;
        }
    }
}

.delete-options {
    display: flex;
    width: 100%;
    justify-content:center;
    gap: 30%;
    input {
        padding: 5px 10px;
        margin-bottom: 1em;
        background-color: white;
        border-radius: 5px;
        font-family:$poppins;
        font-weight: 500;
        &:hover {
            transform: scale(110%);
            cursor:pointer;
        }
    }
}

.dates {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1em;
    >* {
        display : flex;
        >* {
            flex:1;
            &:first-child {
                text-align: right;
                padding-right: 1em;
            }
        }
    }
}

#nameInput {
    width: 150px;
}

.fond-modal{
    display: none;
}

textarea {
    max-width: 90%;
}

input[type="text"],input, select, textarea {
    padding : 5px;
    border-radius: 5px;
}

// input, select {
//     padding : 5px;
//     border-radius: 5px;
// }


#liste_date, #dates_added {
    div {
        display: flex;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        p {
            padding-right: 5px;
        }
        button {
            align-self: top;
            padding: 0;
            height: 20px;
            width: 20px;
            border: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}