@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}

#addEvent_modal, #modifyEvent {
  display: none;
  z-index: 2;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}

.name-input {
  margin-bottom: 20px;
}

.delete-modal {
  display: flex;
}
.delete-modal p {
  text-align: center;
}

.delete-modal, #modifyEvent, #addEvent_modal {
  max-width: 90%;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  border: 2px solid black;
  padding: 0.2em;
  min-height: 20vh;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.top img {
  width: 35px;
  height: 35px;
}
.top img:hover {
  transform: scale(110%);
  cursor: pointer;
}

.delete-options {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30%;
}
.delete-options input {
  padding: 5px 10px;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.delete-options input:hover {
  transform: scale(110%);
  cursor: pointer;
}

.dates {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}
.dates > * {
  display: flex;
}
.dates > * > * {
  flex: 1;
}
.dates > * > *:first-child {
  text-align: right;
  padding-right: 1em;
}

#nameInput {
  width: 150px;
}

.fond-modal {
  display: none;
}

textarea {
  max-width: 90%;
}

input[type=text], input, select, textarea {
  padding: 5px;
  border-radius: 5px;
}

#liste_date div, #dates_added div {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#liste_date div p, #dates_added div p {
  padding-right: 5px;
}
#liste_date div button, #dates_added div button {
  align-self: top;
  padding: 0;
  height: 20px;
  width: 20px;
  border: 0;
}
#liste_date div button:hover, #dates_added div button:hover {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(242, 242, 243) 100%);
  border-radius: 2rem;
}

.darkMode {
  transition: ease 0.5s;
  background: #38598b;
  color: white;
}
.darkMode header {
  background: #a2a8d3;
}
.darkMode .card {
  background: #a2a8d3;
  border: 1px solid #2b456b;
}
.darkMode main button {
  background: #C7C8CC;
}
.darkMode .controls .edit-button {
  filter: brightness(0) saturate(100%);
  filter: invert(5%) sepia(87%) saturate(419%) hue-rotate(176deg) brightness(60%) contrast(87%);
}
.darkMode .controls .delete-button {
  filter: brightness(0) saturate(100%);
  filter: invert(5%) sepia(87%) saturate(419%) hue-rotate(176deg) brightness(50%) contrast(87%);
}
.darkMode .event-info {
  color: #38598b;
}
.darkMode .toggle-attendance {
  color: #07433c;
}
.darkMode .attend-button, .darkMode button {
  background-color: #38598b;
  color: white;
}
.darkMode .edit-participation {
  filter: brightness(0) saturate(100%);
  filter: invert(5%) sepia(87%) saturate(419%) hue-rotate(176deg) brightness(50%) contrast(87%);
}
.darkMode .attendance {
  filter: brightness(0) saturate(50%);
  filter: invert(5%) sepia(87%) saturate(419%) hue-rotate(176deg) brightness(100%) contrast(87%);
}
.darkMode .attendance .not-attending {
  filter: invert(80%) sepia(87%) saturate(419%) hue-rotate(176deg) brightness(10%) contrast(87%);
}
.darkMode .attending {
  filter: brightness(0) saturate(50%);
  filter: invert(21%) sepia(19%) saturate(2191%) hue-rotate(126deg) brightness(50%) contrast(94%);
}
.darkMode .delete-modal, .darkMode #modifyEvent, .darkMode #addEvent_modal {
  background-color: #2b456b;
  border: 1px solid #a2a8d3;
}
.darkMode .delete-modal input, .darkMode .delete-modal textarea, .darkMode .delete-modal select, .darkMode #modifyEvent input, .darkMode #modifyEvent textarea, .darkMode #modifyEvent select, .darkMode #addEvent_modal input, .darkMode #addEvent_modal textarea, .darkMode #addEvent_modal select {
  background-color: #a2a8d3;
  color: #2b456b;
}
.darkMode img.close-modal {
  filter: brightness(0) saturate(50%);
  filter: brightness(0) saturate(100%) invert(69%) sepia(10%) saturate(855%) hue-rotate(195deg) brightness(95%) contrast(97%);
}
.darkMode .popular .col-title {
  border: 1px solid #a2a8d3;
  background-color: rgb(212, 234, 250);
  color: #2b456b;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background: #EEEEEE;
  padding-bottom: 20px;
}
header section {
  gap: 10px;
  display: flex;
  flex-direction: row;
}
header section .logo {
  padding: 10px;
  width: 50px;
  height: 40px;
  margin-left: 30px;
}
header section h1 {
  margin-top: 20px;
  font-size: 20px;
}
header .toggleDarkMode {
  border: none;
  background: none;
  margin-right: 10px;
}
header .toggleDarkMode img {
  width: 20x;
  height: 20px;
}

.addEvent {
  background-color: #e4e3e5;
  border-radius: 2rem;
  border: none;
  padding: 3px 10px;
  background: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  margin-left: 30px;
}
.addEvent:hover {
  background-color: #a4a3aa;
  transition: 1.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.events-container {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 100%;
}

.card {
  padding: 5px 30px 5vh 30px;
  display: flex;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  border: 1px solid rgb(203, 201, 201);
  border-radius: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 90%;
  min-height: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card .description {
  word-break: normal;
}

.popular .col-title {
  border: 1px solid rgb(175, 224, 175);
  border-radius: 15px;
  background-color: rgb(203, 234, 203);
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}
.card-title .controls {
  display: flex;
  justify-self: flex-end;
  gap: 20px;
}
.card-title .controls img {
  max-height: 25px;
  max-width: 25px;
}
.card-title .controls > *:hover {
  transform: scale(108%);
  transition: ease 0.5s;
  cursor: pointer;
}

.participant {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  height: 25px;
  box-sizing: border-box;
}
.participant img {
  padding-right: 10px;
}

.attendance {
  max-height: 25px;
  min-width: 25px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.col-title {
  height: 60px;
  padding: 0 3px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.expend {
  display: flex;
  gap: 5px;
  align-items: center;
}
.expend img {
  height: 15px;
  width: 15px;
  padding-right: 5px;
  text-justify: center;
}

.attendance-table {
  margin-top: 1vh;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  justify-content: left;
  transition: ease 1s;
  overflow-x: auto;
}
.attendance-table > * {
  padding: 0 5px;
}

.date-attendance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-attendance .date {
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-info {
  font-style: italic;
  color: grey;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.attendees-list {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  min-width: 150px;
  flex-direction: column;
}

.toggle-attendance {
  position: absolute;
  bottom: 5px;
}
.toggle-attendance img {
  height: 17px;
  width: 17px;
  padding-right: 5px;
}

.sign-up {
  display: flex;
  justify-content: center;
}

.edit-participation {
  cursor: pointer;
}

.attend-button, button, #add-attendant {
  font-weight: bold;
  margin: 0.8em 0;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
}
.attend-button:hover, button:hover, #add-attendant:hover {
  transform: scale(105%);
  transition: ease 0.5s;
}/*# sourceMappingURL=styles.css.map */